@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    font-family:'Open Sans';
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

header{
    height: 10vh;
    display: grid;
    place-items: center;
    background-color: black;
    background-image: linear-gradient(rgba(94, 140, 173,0.3), rgba(94, 140, 173,0));
    color:white;
}

main{
    height: 85vh;
    width: 100vw;
    display: grid;
}

footer{
    height: 5vh;
    background-image: linear-gradient(to top, rgba(94, 140, 173,0.3), rgba(94, 140, 173,0));
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1080px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
  height: 85vh;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -10vh;
  padding: 16px;
  color: white;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  font-size: 2rem;
  position: absolute;
  width: 100%;
  text-align: center;
}

.nummer {
  color: white;
  font-size: 1.5rem;
  padding: 5px;
  position: absolute;
  top: 0;
}

.knap {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .knap:hover {
  background-color: grey;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}