@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

*{
    font-family: Julee;
    padding: 0;
    margin: 0;
}


header{
    height: 20vh;
    background-color: bisque;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

main{    
    height: 100%;
    background-color: salmon;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    overflow: hidden;
}

footer{
    height: 20vh;
    background-color: seashell;
}

.door{
    background-color: red;
    place-content: center;
    border: black 2px solid;
    border-radius: 1rem;
    padding: 10px;
    margin: 10px 0 10px 0;

    position: relative;

    transform-origin: left;
    transition: all 0.5s ease-in-out;
}

/*.doorLeft{
    transform-origin: left;
}*/

.doorOpen{
    transform-origin: 0% 50%;
    transform: perspective(1200px)
    translateZ(0px)
    translateX(0px) 
    translateY(0px)
    rotateY(-105deg);
    transition: all 0.5s ease-in-out;
}

.door:hover{
    cursor: pointer;
}

#countdown{
    font-size: 3rem;
 
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

#days{
    color: red;
}
#hours{
    color: green;
}
#mins{
    color: red;
}
#secs{
    color: green;
}
#sovs{
    color: red;
}


.lock{
    top:0;
    left:0;
    height:100%;
    width:100%;
    position:absolute;
    background-color:green;
    display:grid;
    place-items: center;
    font-size:4rem;
    z-index:5;
    transition: all 1s ease-in-out;
    
    border-radius: 1rem;
}


.openChristmas{
    animation: christmas 3s forwards ease-in-out;
}

@keyframes sovse{
    10%{
        box-shadow:  0 0 1rem 1rem whitesmoke;
        transition:scale(80%) ;
    }
 /*50% inde i animationen*/
    50%{
        box-shadow:  0 0 5rem 5rem whitesmoke;
        transition:scale(80%) ;
    }
    100%{
        box-shadow:  none;
        transition:scale(0) ;
    }
}

.openSlide{
    animation: sild 3s forwards ease-in-out;

}
/*@keyframes sild{
    
  10% {transform: rotate(360deg);}


    100%{
        
        transition:scale(0) ;
    }
 
}*/


.open{
    width: 0;

}
iframe{
    z-index:1;
}